{% extends 'PHPWomenAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .post { margin: 1em; border-bottom: 1px dashed #cccccc;}
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2>All blog posts</h2>

            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>date</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Options</th>
                </tr>
                </thead>

                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.date|date("Y-m-d") }}</td>
                        <td>{{ post.author }}</td>
                        <td>{% if post.category is not empty %}
                                {{ post.category.name }}
                            {% endif %}
                        </td>
                        <td>
                            <span class="label label-danger">Publish</span>
                            <span class="label label-success">Hide</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-md-2">

        </div>
    </div>
{% endblock %}