{% extends 'PHPWomenAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .post { margin: 1em; border-bottom: 1px dashed #cccccc;}
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>Latest entries {% if category is defined %} for category {{ category }} {% endif %}</h2>

            {% for post in posts %}
            <a href="{{ path('blog-show-post', {'slug': post.slug }) }}" title="Read the entire post">
                <div class="post-list">
                    <h3>{{ post.title }}</h3>
                    <p class="intro">{{ post.intro|e }}</p>
                    <span class="author">{{ post.author }}</span>
                    <span class="date">{{ post.date|date("d-m-Y") }}</span>
                </div>
            </a>
            {% endfor %}
        </div>

        <div class="col-md-4">
            {{ render(controller('PHPWomenBlogBundle:Default:listCategories')) }}
        </div>
    </div>
{% endblock %}